<?xml version='1.0' encoding='utf-8'?>
<widget id="pl.edu.zut.wi.lp51038" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Paweł 51038</name>
    <description>Weather App</description>
    <author email="lp51038@zut.edu.pl" href="https://www.wi.zut.edu.pl">
        Paweł Łukomski
    </author>
    <content src="weather.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="electron">
        <icon src="res/electron/ikonka.png" />
        <preference name="ElectronSettingsFilePath" value="res/electron/settings.json" />
    </platform>
</widget>


